<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <description>myfilter</description>
  <display-name>myfilter</display-name>
  <filter-name>myfilter</filter-name>
  <filter-class>filter.MyFilter</filter-class>
 </filter>
 <filter>
  <filter-name>UserFilter</filter-name>
  <filter-class>filter.UserFilter</filter-class>
 </filter>
 <filter>
  <filter-name>deptFilter</filter-name>
  <filter-class>filter.DeptFilter</filter-class>
 </filter>
 <filter>
  <filter-name>privilege</filter-name>
  <filter-class>filter.PrivilegeFilter</filter-class>
 </filter>
 <filter>
  <filter-name>ChangePwdFilter</filter-name>
  <filter-class>filter.ChangePwdFilter</filter-class>
 </filter>
 <filter>
  <filter-name>ProjectFilter</filter-name>
  <filter-class>filter.ProjectFilter</filter-class>
 </filter>
 <filter>
  <filter-name>Type</filter-name>
  <filter-class>filter.Type</filter-class>
 </filter>
 <filter>
  <filter-name>EquipmentResume</filter-name>
  <filter-class>filter.EquipmentResume</filter-class>
 </filter>
 <filter>
  <filter-name>Plan</filter-name>
  <filter-class>filter.Plan</filter-class>
 </filter>
 <filter>
  <filter-name>Control</filter-name>
  <filter-class>filter.Control</filter-class>
 </filter>
 <filter>
  <filter-name>Search</filter-name>
  <filter-class>filter.Search</filter-class>
 </filter>
 <filter>
  <filter-name>Result</filter-name>
  <filter-class>filter.Result</filter-class>
 </filter>
 <filter>
  <filter-name>Month</filter-name>
  <filter-class>filter.Month</filter-class>
 </filter>
 <filter>
  <filter-name>Week</filter-name>
  <filter-class>filter.Week</filter-class>
 </filter>
 <filter>
  <filter-name>Problem</filter-name>
  <filter-class>filter.Problem</filter-class>
 </filter>
 <filter>
  <filter-name>Enterprise</filter-name>
  <filter-class>filter.Enterprise</filter-class>
 </filter>
 <filter>
  <filter-name>TypeProblem</filter-name>
  <filter-class>filter.TypeProblem</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>myfilter</filter-name>
  <url-pattern>/admin/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>UserFilter</filter-name>
  <url-pattern>/admin/userManage/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>deptFilter</filter-name>
  <url-pattern>/admin/deptManage/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>privilege</filter-name>
  <url-pattern>/admin/privilegeManage/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ChangePwdFilter</filter-name>
  <url-pattern>/admin/changePwd/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ProjectFilter</filter-name>
  <url-pattern>/admin/project/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Type</filter-name>
  <url-pattern>/admin/type/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>EquipmentResume</filter-name>
  <url-pattern>/admin/equipmentResume/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Plan</filter-name>
  <url-pattern>/admin/plan/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Control</filter-name>
  <url-pattern>/admin/control/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Search</filter-name>
  <url-pattern>/admin/search/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Result</filter-name>
  <url-pattern>/admin/result/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Month</filter-name>
  <url-pattern>/admin/month/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Week</filter-name>
  <url-pattern>/admin/week/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Problem</filter-name>
  <url-pattern>/admin/problem/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>Enterprise</filter-name>
  <url-pattern>/admin/enterprise/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>TypeProblem</filter-name>
  <url-pattern>/admin/typeProblem/*</url-pattern>
  <dispatcher>REQUEST</dispatcher>
 </filter-mapping>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>StaffSearch</servlet-name>
  <servlet-class>servlet.StaffSearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AddStaff</servlet-name>
  <servlet-class>servlet.AddStaff</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeleteStaff</servlet-name>
  <servlet-class>servlet.DeleteStaff</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AlterStaff</servlet-name>
  <servlet-class>servlet.AlterStaff</servlet-class>
 </servlet>
 <servlet>
  <description>This is the display name of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeptInsert</servlet-name>
  <servlet-class>servlet.DeptInsert</servlet-class>
 </servlet>
 <servlet>
  <description>This is the display name of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeptRemove</servlet-name>
  <servlet-class>servlet.DeptRemove</servlet-class>
 </servlet>
 <servlet>
  <description>This is the display name of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>DeptUpdate</servlet-name>
  <servlet-class>servlet.DeptUpdate</servlet-class>
 </servlet>
 <servlet>
  <description>This is the display name of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>AllDept</servlet-name>
  <servlet-class>servlet.AllDept</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetInfoForAlterStaff</servlet-name>
  <servlet-class>servlet.GetInfoForAlterStaff</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Login</servlet-name>
  <servlet-class>servlet.Login</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ChangePwd</servlet-name>
  <servlet-class>servlet.ChangePwd</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ChangePrivilege</servlet-name>
  <servlet-class>servlet.ChangePrivilege</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetInfoForChangePrivilege</servlet-name>
  <servlet-class>servlet.GetInfoForChangePrivilege</servlet-class>
 </servlet>
 <servlet>
  <description>FDAFDA</description>
  <display-name>123</display-name>
  <servlet-name>AddType</servlet-name>
  <servlet-class>servlet.AddType</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetTypeParameter</servlet-name>
  <servlet-class>servlet.GetTypeParameter</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetAllType</servlet-name>
  <servlet-class>servlet.GetAllType</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllProject</servlet-name>
  <servlet-class>servlet.ALLProject</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ProjectInsert</servlet-name>
  <servlet-class>servlet.ProjectInsert</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllSubProject</servlet-name>
  <servlet-class>servlet.AllSubProject</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SubProjectInsert</servlet-name>
  <servlet-class>servlet.SubProjectInsert</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllEquipmentInPro</servlet-name>
  <servlet-class>servlet.AllEquipmentInPro</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllEquipment</servlet-name>
  <servlet-class>servlet.AllEquipment</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllProblem</servlet-name>
  <servlet-class>servlet.AllProblem</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SubProjectRemove</servlet-name>
  <servlet-class>servlet.SubProjectRemove</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchRecordForEquipment</servlet-name>
  <servlet-class>servlet.SearchRecordForEquipment</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ProjectRemove</servlet-name>
  <servlet-class>servlet.ProjectRemove</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>GetInfoForAddEquipment</servlet-name>
  <servlet-class>servlet.GetInfoForAddEquipment</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EquipmentInProInsert</servlet-name>
  <servlet-class>servlet.EquipmentInProInsert</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>EquipmentRemove</servlet-name>
  <servlet-class>servlet.EquipmentRemove</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllPlanToday</servlet-name>
  <servlet-class>servlet.plan.AllPlanToday</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AllEquipmentToday</servlet-name>
  <servlet-class>servlet.plan.AllEquipmentToday</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EquipmentToday</servlet-name>
  <servlet-class>servlet.plan.EquipmentToday</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetProject</servlet-name>
  <servlet-class>servlet.plan.GetProject</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>GetInfoForInsertPlan</servlet-name>
  <servlet-class>servlet.plan.GetInfoForInsertPlan</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>InsertPlan</servlet-name>
  <servlet-class>servlet.plan.InsertPlan</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchResult</servlet-name>
  <servlet-class>servlet.plan.SearchResult</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchParameter</servlet-name>
  <servlet-class>servlet.plan.SearchParameter</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ProjectForMonth</servlet-name>
  <servlet-class>servlet.report.ProjectForMonth</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>ProjectForWeek</servlet-name>
  <servlet-class>servlet.report.ProjectForWeek</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SubProjectForMonth</servlet-name>
  <servlet-class>servlet.report.SubProjectForMonth</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SubProjectForWeek</servlet-name>
  <servlet-class>servlet.report.SubProjectForWeek</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DisplayChart</servlet-name>
  <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EquipmentForMonth</servlet-name>
  <servlet-class>servlet.report.EquipmentForMonth</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EquipmentForWeek</servlet-name>
  <servlet-class>servlet.report.EquipmentForWeek</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>PlanSearch</servlet-name>
  <servlet-class>servlet.plan.PlanSearch</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>SearchRecordForProblem</servlet-name>
  <servlet-class>servlet.SearchRecordForProblem</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EnterpriseCompare</servlet-name>
  <servlet-class>servlet.report.EnterpriseCompare</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>Detail</servlet-name>
  <servlet-class>servlet.plan.Detail</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Update</servlet-name>
  <servlet-class>servlet.plan.Update</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TypeProblem</servlet-name>
  <servlet-class>servlet.report.TypeProblem</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>MonthExcel</servlet-name>
  <servlet-class>servlet.report.MonthExcel</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>WeekExcel</servlet-name>
  <servlet-class>servlet.report.WeekExcel</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TypeProblemExcel</servlet-name>
  <servlet-class>servlet.report.TypeProblemExcel</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>EnterpriseExcel</servlet-name>
  <servlet-class>servlet.report.EnterpriseExcel</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>DisplayChart</servlet-name>
  <url-pattern>/DisplayChart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>StaffSearch</servlet-name>
  <url-pattern>/admin/userManage/StaffSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddStaff</servlet-name>
  <url-pattern>/admin/userManage/AddStaff</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteStaff</servlet-name>
  <url-pattern>/admin/userManage/DeleteStaff</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AlterStaff</servlet-name>
  <url-pattern>/admin/userManage/AlterStaff</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllDept</servlet-name>
  <url-pattern>/admin/deptManage/AllDept</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeptInsert</servlet-name>
  <url-pattern>/admin/deptManage/DeptInsert</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeptRemove</servlet-name>
  <url-pattern>/admin/DeptRemove</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeptUpdate</servlet-name>
  <url-pattern>/admin/DeptUpdate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetInfoForAlterStaff</servlet-name>
  <url-pattern>/admin/userManage/GetInfoForAlterStaff</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangePwd</servlet-name>
  <url-pattern>/admin/changePwd/ChangePwd</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ChangePrivilege</servlet-name>
  <url-pattern>/admin/privilegeManage/ChangePrivilege</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetInfoForChangePrivilege</servlet-name>
  <url-pattern>/admin/privilegeManage/GetInfoForChangePrivilege</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddType</servlet-name>
  <url-pattern>/admin/type/AddType</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetTypeParameter</servlet-name>
  <url-pattern>/admin/type/GetTypeParameter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetAllType</servlet-name>
  <url-pattern>/admin/type/GetAllType</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllProject</servlet-name>
  <url-pattern>/admin/project/AllProject</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectInsert</servlet-name>
  <url-pattern>/admin/project/ProjectInsert</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllSubProject</servlet-name>
  <url-pattern>/admin/project/AllSubProject</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SubProjectInsert</servlet-name>
  <url-pattern>/admin/project/SubProjectInsert</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllEquipmentInPro</servlet-name>
  <url-pattern>/admin/project/AllEquipmentInPro</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllEquipment</servlet-name>
  <url-pattern>/admin/equipmentResume/AllEquipment</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllProblem</servlet-name>
  <url-pattern>/admin/problem/AllProblem</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SubProjectRemove</servlet-name>
  <url-pattern>/admin/project/SubProjectRemove</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchRecordForEquipment</servlet-name>
  <url-pattern>/admin/equipmentResume/SearchRecordForEquipment</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectRemove</servlet-name>
  <url-pattern>/admin/project/ProjectRemove</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetInfoForAddEquipment</servlet-name>
  <url-pattern>/admin/project/GetInfoForAddEquipment</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EquipmentInProInsert</servlet-name>
  <url-pattern>/admin/project/EquipmentInProInsert</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EquipmentRemove</servlet-name>
  <url-pattern>/admin/project/EquipmentRemove</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllPlanToday</servlet-name>
  <url-pattern>/admin/control/AllPlanToday</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AllEquipmentToday</servlet-name>
  <url-pattern>/admin/control/AllEquipmentToday</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EquipmentToday</servlet-name>
  <url-pattern>/admin/control/EquipmentToday</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetProject</servlet-name>
  <url-pattern>/admin/plan/GetProject</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GetInfoForInsertPlan</servlet-name>
  <url-pattern>/admin/plan/GetInfoForInsertPlan</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InsertPlan</servlet-name>
  <url-pattern>/admin/plan/InsertPlan</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchResult</servlet-name>
  <url-pattern>/admin/result/SearchResult</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchParameter</servlet-name>
  <url-pattern>/admin/result/SearchParameter</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectForMonth</servlet-name>
  <url-pattern>/admin/month/ProjectForMonth</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProjectForWeek</servlet-name>
  <url-pattern>/admin/week/ProjectForWeek</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SubProjectForMonth</servlet-name>
  <url-pattern>/admin/month/SubProjectForMonth</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SubProjectForWeek</servlet-name>
  <url-pattern>/admin/week/SubProjectForWeek</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EquipmentForMonth</servlet-name>
  <url-pattern>/admin/month/EquipmentForMonth</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EquipmentForWeek</servlet-name>
  <url-pattern>/admin/week/EquipmentForWeek</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>PlanSearch</servlet-name>
  <url-pattern>/admin/search/PlanSearch</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SearchRecordForProblem</servlet-name>
  <url-pattern>/admin/problem/SearchRecordForProblem</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EnterpriseCompare</servlet-name>
  <url-pattern>/admin/enterprise/EnterpriseCompare</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Detail</servlet-name>
  <url-pattern>/admin/control/Detail</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Update</servlet-name>
  <url-pattern>/admin/control/Update</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TypeProblem</servlet-name>
  <url-pattern>/admin/typeProblem/TypeProblem</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MonthExcel</servlet-name>
  <url-pattern>/admin/month/MonthExcel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WeekExcel</servlet-name>
  <url-pattern>/admin/week/WeekExcel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TypeProblemExcel</servlet-name>
  <url-pattern>/admin/typeProblem/TypeProblemExcel</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EnterpriseExcel</servlet-name>
  <url-pattern>/admin/enterprise/EnterpriseExcel</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 <resource-ref>
  <res-ref-name>jdbc/zhuoyue</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>
</web-app>
